{% extends "bootstrap/base.html" %}

{% block title %} Readers Club {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',
filename = 'css/style.css') }}">

<link rel="shortcut icon" href="{{ url_for('static',
filename = 'img/favicon.ico') }}" type="image/x-icon">

<link rel="icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}"
      type="image/x-icon">
{% endblock %}
{% block navbar %}
    <div class="navbar navbar-inverse navbar-default otstup" role="navigation">
        <div class="container navbar-polosa">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav site_title">
                    <li><a href="{{ url_for('main.index') }}"><span class="reader">Readers CLUB</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}"><span class="sign">Sign Out</span></a></li>
                    {% else %}
                    <li><a href="{{url_for('auth.login') }}"><span class="sign">Sign In</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="wrapp-container">
    <div class="container navbar-polosa otstup2">

        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% block page_content %}
        {% endblock %}

    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

